<%-include('header')-%>

    <nav class="navbar navbar-light bg-primary bg-gradient">
        <div class="container justify-content-center">
            <h2 style="color: aliceblue;">Result Management System</h2>
        </div>
        <div class="d-flex px-2">
            <form action="/logout">
                <button type="submit" class="btn btn-light">Logout</button>
            </form>
        </div>
    </nav>
    <div class="label transparent">
        <h2>Find Result :</h2>
    </div>

    <div class="search-page">

        <div class="form">

            <form action="/student/searchResult" method="POST">
                <label>Roll No</label>
                <input name="RollNo" type="number" class="form-control" placeholder="RollNo" required />

                <label>Date of Birth</label>
                <input name="DOB" type="date" min="2000-01-01" max="2007-01-01" class="form-control" placeholder="DOB" required />

                <button type="submit" data-bs-toggle="modal" data-bs-target="#Result" >Search</button>

            </form>
            <button data-bs-toggle="modal" data-bs-target="#Result" id="view" style="display: none;"></button>
        </div>
    </div>


    <% if(locals.called) {%>

        <!-- Modal -->
        <div class="modal fade" id="Result" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Result</h5>

                    </div>
                    <div class="modal-body">

                        <% if(locals.result) {%>
                            <div class="container col">
                                <div class="row">
                                    <div><b> Roll No :</b></div>
                                    <div><b>Name :</b></div>
                                    <div><b>Date of Birth :</b></div>
                                    <div><b>Score :</b></div>
                                </div>
                                <div class="row">
                                    <div>
                                        <%= result.RollNo %>
                                    </div>
                                    <div>
                                        <%= result.Name %>
                                    </div>
                                    <div>
                                        <%= result.DOB.split("-").reverse().join("-") %>
                                    </div>
                                    <div>
                                        <%= result.Score %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="badge"><%= result.Score %></div>
                                </div>
                            </div>

                            <script>
                                function simulateClick(control) {
                                    if (document.all) {
                                        control.click();
                                    } else {
                                        var evObj = document.createEvent('MouseEvents');
                                        evObj.initMouseEvent('click', true, true, window, 1, 12, 345, 7, 220, false, false, true, false, 0, null);
                                        control.dispatchEvent(evObj);
                                    }
                                }
                                simulateClick(document.getElementById('view'));
                            </script>

                            <% }else if(locals.result==null){ %>
                                <div style="color: red; text-align: center;">No result found</div>
                                <script>
                                    function simulateClick(control) {
                                        if (document.all) {
                                            control.click();
                                        } else {
                                            var evObj = document.createEvent('MouseEvents');
                                            evObj.initMouseEvent('click', true, true, window, 1, 12, 345, 7, 220, false, false, true, false, 0, null);
                                            control.dispatchEvent(evObj);
                                        }
                                    }
                                    simulateClick(document.getElementById('view'));
                                </script>
                                <% } %>
                    </div>
                    <div class="modal-footer">
                        <button onclick="window.location.href='/student/dashboard';" type="button"
                            class="btn btn-secondary" data-bs-dismiss="modal">Search again</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>


<%-include('footer')-%>